.dashboard {
  flex: 1;
  padding: 20px;
  background: #f5f7fb;
  min-height: 100vh;
}

.dashboard h1 {
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: #2563eb;
}
.chart,
.activity {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.chart-box {
  margin-top: 15px;
  height: 220px;
  border: 2px dashed #3b82f6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3b82f6;
  font-size: 20px;
}

.activity ul {
  margin-top: 15px;
  padding-left: 20px;
}

.activity li {
  margin-bottom: 10px;
}