.sidebar {
  width: 220px;
  min-height: calc(100vh - 70px);
  background: linear-gradient(to bottom, #243b55, #8ec5fc);
  padding: 20px;
}

.sidebar h3 {
  color: white;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 12px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: white;
  background: rgba(255,255,255,0.2);
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
}

.sidebar a:hover {
  background: rgba(255,255,255,0.35);
}